
/*Update de Fontes*/

@font-face {
	font-family: batman-forever;
	src: local(batman-forever),url(Fonte/batman_forever/batmfa__.ttf)
}

@font-face{
	font-family: champagne;
	src: local(champagne),url(Fonte/champagne_limousines/Champagne_Limousines.ttf)
}

/* controle do cabeçalho*/

#topo {
	background: #00a8cc;
	width: 800px;
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
	margin-bottom:0;
	margin:0 auto;
	padding:10px 5px 10px 15px;
}

/* Barra de Navegação*/

#barradenavegacao ul{
	margin: 0;
	padding: 0;
	font-family: champagne;
	}

#barradenavegacao li{ 
	display: inline-block;
	padding: 12px 0px; 
	width: 16.26%;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

#barradenavegacao li:hover{
	background-color: #C71585;
}
/* logo */

#logo{
	font-family:batman-forever;
	color:white;
}

/*Barra de Pesquisa*/

#pesquisa{
	position: absolute;
	top:19px;
	right:273px;
	width: 240px;
	
}

#barradepesquisa{
	border-top-left-radius: 8px;
	border-bottom-right-radius: 8px;
	width:130px;
	transition: width 0.4s ease-in-out;
	font-family: champagne;
}

#barradepesquisa:focus{
	width:80%;
}

#barradenavegacao li:first-child:hover{
	border-bottom-left-radius: 8px;
}

#barradenavegacao li:last-child:hover{
	border-bottom-right-radius: 8px;
}

/*outros*/

a{
	color: white;
	text-decoration: none;
}

nav{
	width: 820px;
	margin: 0 auto;
	background-color: #00a8cc ;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

/* garante a responsividade*/ 
* { margin: 0; padding: 0; }

